header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    z-index: 999;
    background-color: #FFFCF3;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    img {
        height: 32px;
    }
}


@media (max-width: 1200px) {
    nav { max-width: 1000px;}
}

@media (max-width: 1050px) {
    nav { max-width: 760px;}
}

@media (max-width: 768px) {
    nav { max-width: 570px;}
}

@media (max-width: 576px) {
    nav { max-width: 400px;}
}

@media (max-width: 440px) {
}