.footer-content {
    background-color: black;
    color: #FFFCF3;
    p {
        font-size: clamp(12px, 2vw, 16px);
    }
}

.footer-section {
    display: flex;
    padding-bottom: 40px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-section-logo {

    img {
        height: clamp(32px, 5vw, 70px);
        padding: 5px;
        margin-top: 10px;

    }
}

.social-logos {
    display: flex;
    gap: clamp(30px, 5vw, 42px);
    flex-direction: row;
    align-items: center;
}

a:hover {

    img {
        transform: translateY(-10px);
        transition: all 250ms ease-in-out;
    }
}

.legal-notice-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}

.legal-notice {
    text-decoration: none;
    text-align: right;
    color: #FFFCF3;
    font-family: 'Overpass';
    font-size: clamp(12px, 2vw, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: 120%;

    &:hover {
        font-weight: 800;
        transition: all 200ms ease-in;
    }
}