<div class="footer-content">
    <div class="footer-section wrapper">
        <div class="footer-section-left">
            <div class="footer-section-logo">
                <img src="./assets/icons/logo_philipp_nobg.png">
                <p>Philipp Klinger 2023 &copy;</p>
            </div>
        </div>
        <div class="footer-section-right">
            <div class="footer-section-socials">
                <div class="social-logos">
                    <div class="github">
                        <a href="https://github.com/PhilippKlinger/" target="_blank">
                            <img src="./assets/icons/github.svg" alt="">
                        </a>
                    </div>
                    <div class="email">
                        <a href="mailto:klinger.breuberg@web.de" target="_blank">
                            <img src="./assets/icons/email.svg" alt="">
                        </a>
                    </div>
                  <div class="linkedin">
                    <a href="https://www.linkedin.com/in/philipp-klinger-005804176/" target="_blank">
                        <img src="./assets/icons/linkedin.svg" alt="">
                    </a>
                  </div>
                </div>
                <div class="legal-notice-section">
                    <a routerLink="/imprint" class="legal-notice">Legal Notice</a>
                </div>
            </div>
        </div>
    </div>
</div>

