.footer-content {
    background-color: black;
    color: #FFFCF3;
}

.footer-section {
    display: flex;
    width: 100%;
    padding-bottom: 40px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-section-logo {

    img {
        height: 70px;
        background-color: white;
        border-radius: 100%;
        padding: 5px;
    }
}

.social-logos {
    display: flex;
    gap: 42px;
    flex-direction: row;
    align-items: center;
}

a:hover {

    img {
        transform: translateY(-10px);
        transition: all 250ms ease-in-out;
    }
}

.legal-notice-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}

.legal-notice {
    text-decoration: none;
    text-align: right;
    color: #FFFCF3;
    font-family: 'Overpass';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;

    &:hover {
        font-weight: 800;
        transition: all 200ms ease-in;
    }
}