.footer-content {
    background-color: black;
    color: var(--cream, #FFFCF3);
}

.footer-section {
    display: flex;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-section-logo {

    img {
        width: 32px;
       filter: invert(1);
    }
}

.social-logos {
    display: flex;
    gap: 42px;
    flex-direction: row;
    align-items: center;
}

a:hover {

    img {
        transform: translateY(-10px);
        transition: all 250ms ease-in-out;
    }
}