.contactform-content {
    background-color: #000;
    clip-path: polygon(0% 0%, 100% 20%, 100% 100%, 0% 100%);
}


.contactform-section {
    display: flex;
    flex-direction: column;
}

h2 {
    color: #FFFCF3;
    text-align: left;
    font-family: 'Syne';
    font-size: 78px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%;
    letter-spacing: 0.78px;
}

.contactform-section-head {
    text-align: center;
    font-family: 'Overpass';
    font-style: normal;
    line-height: 120%;

    span {
        color:#00BC8F;
        font-size: 32px;
        font-weight: 700;
    }

    p {
        color: #FFFCF3;
        font-size: 23px;
        font-weight: 400;
    }
}

.contactform-section-input {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.form-group input {
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    border-bottom: 2px solid #FFFCF3;
    padding: 15px 25px;
    height: 50px;
    width: 617px;
    gap: 10px;
    background-color: #000;
}

.form-group textarea {
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    border-bottom: 2px solid #FFFCF3;
    padding: 15px 25px;
    height: 50px;
    width: 617px;
    gap: 10px;
    background-color: #000;
}

.form-group input::placeholder {
    color:#FFFCF3;
    font-family: 'Overpass';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.form-group textarea::placeholder {
    color: #FFFCF3;
    font-family: 'Overpass';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}