.contactform-content {
    background-color: #000;
    clip-path: polygon(0% 0%, 100% 20%, 100% 100%, 0% 100%);
}


.contactform-section {
    display: flex;
    flex-direction: column;
}

h2 {
    color: #FFFCF3;
    text-align: left;
    font-family: 'Syne';
    font-size: 78px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%;
    letter-spacing: 0.78px;
    margin-top: 150px;
}

.contactform-section-head {
    text-align: center;
    font-family: 'Overpass';
    font-style: normal;
    line-height: 120%;

    span {
        color: #00BC8F;
        font-size: 32px;
        font-weight: 700;
    }

    p {
        color: #FFFCF3;
        font-size: 23px;
        font-weight: 400;
    }
}

.contactform-section-input {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    position: relative; 
    margin-bottom: 10px;

    input,
    textarea {
        display: flex;
        align-items: center;
        border: none;
        outline: none;
        border-bottom: 2px solid #FFFCF3;
        padding: 5px 15px;
        width: 617px;
        gap: 10px;
        background-color: #000;
        color: #FFF; 
        font-size: 18px;

        ::placeholder {
            z-index: 999;
            color: #FFFCF3;
            font-family: 'Overpass';
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
            transition: transform 0.3s ease;
            transform: translateY(0);
        }

        &:hover {
            cursor: pointer;
            border: 3px solid #FFFCF3;
        }

        &:focus {
            border: 2px solid #FFFCF3; 
            color: #FFF; 
            caret-color: #FFF; 

            &::placeholder {
                transform: translateY(-30px); 
            }
        }
    }

    .text-danger {
        color: red; 
        padding: 5px;
        font-size: 14px;
    }
}

.message-content {
    height: 200px !important;
    padding-top: 20px !important;
}

.name-content {
    height: 60px !important;
}

label {
    color: #FFFCF3;
    font-size: 16px;
    font-weight: 400;
}

button {
    width: 189px;
    height: 68px;
    border: 4px solid black;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.15);
    font-family: 'Overpass';
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;

    &:hover {
        cursor: pointer;
        font-weight: 800;
        transform: scaleX(1.15);
        transition: transform ease-in-out 200ms;
    }
}

.form-group-checkbox {
    padding-top: 10px;
    padding-bottom: 10px;
}

.button-section {
    display: flex;
    justify-content: center;
    padding: 20px;
}

button[disabled] {
    cursor: not-allowed;

    &:hover {
        transform: none !important;
    }
  }
  
  