.contactform-content {
    background-color: #000;
    clip-path: polygon(0% 0%, 100% 20%, 100% 100%, 0% 100%);
}


.contactform-section {
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: all 400ms ease-in;
    &.show {
        opacity: 1;
    }
}

h2 {
    color: #FFFCF3;
    text-align: left;
    font-family: 'Syne';
    font-size: clamp(34px, 5vw, 78px);
    font-style: normal;
    font-weight: 800;
    line-height: 100%;
    letter-spacing: 0.78px;
    margin-top: 150px;
}

h3 {
    color: #FFFCF3;
    text-align: left;
    font-family: 'Syne';
    font-size: clamp(24px, 5vw, 68px);
    font-style: normal;
    font-weight: 800;
    line-height: 100%;
    letter-spacing: 0.78px;
}

.contactform-section-head {
    text-align: center;
    font-family: 'Overpass';
    font-style: normal;
    line-height: 120%;

    span {
        color: #00BC8F;
        font-size: clamp(22px, 3vw, 32px);
        font-weight: 700;
    }

    p {
        color: #FFFCF3;
        font-size: clamp(16px, 2vw, 23px);
        font-weight: 400;
    }
}

.contactform-section-input {
    display: inline-flex;
    flex-direction: column;
    align-items: center;

    form {
        width: min(620px, 80%);
    }
}

.form-group {
    position: relative; 
    margin-bottom: 10px;

    input,
    textarea {
        display: flex;
        align-items: center;
        border: 2px solid transparent;
        outline: none;
        border-bottom: 2px solid #FFFCF3;
        padding: 5px 15px;
        width: 100%;
        gap: 10px;
        background-color: #000;
        color: #FFF; 
        font-size: clamp(12px, 2vw, 18px);

        ::placeholder {
            z-index: 999;
            color: #FFFCF3;
            font-family: 'Overpass';
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
            transition: transform 0.3s ease;
            transform: translateY(0);
        }

        &:hover {
            cursor: pointer;
            border: 2px solid #FFFCF3;
        }

        &:focus {
            border: 2px solid #FFFCF3; 
            color: #FFF; 
            caret-color: #FFF; 

            &::placeholder {
                transform: translateY(-30px); 
            }
        }

        &.ng-touched, &.ng-dirty {

            &.ng-invalid {
                border-color: red;
            }

            &.ng-valid {
                border-color: #00BC8F;
            }
        }
    }

    .text-danger {
        color: red; 
        padding: 5px;
        font-size: 14px;
    }
}

.message-content {
    height: 200px !important;
    padding-top: 20px !important;
}

.name-content {
    height: 60px !important;
}

label {
    color: #FFFCF3;
    font-size: 16px;
    font-weight: 400;

    a {
        color: #00BC8F;
        text-decoration: none;
        
    }

    
}

button {
    width: 189px;
    height: 68px;
    border: 4px solid black;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.15);
    font-family: 'Overpass';
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    z-index: 5;

    &:hover {
        cursor: pointer;
        font-weight: 800;
        transform: scaleX(1.15);
        transition: transform ease-in-out 200ms;
    }
}

.form-group-checkbox {
    padding-top: 10px;
    padding-bottom: 10px;
}

.button-section {
    display: flex;
    justify-content: center;
    padding: 20px;
}

button[disabled] {
    cursor: not-allowed;

    &:hover {
        transform: none !important;
    }
  }

  .form-group-checkbox {
    .text-danger {
        color: red; 
        padding: 5px;
        font-size: 14px;
    }
  }

.jump-to-start {
    height: min-content;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    transform: translateY(-80px);

    img {
        &:hover {
            transform: scaleY(1.3);
            transform-origin: bottom;
            transition: all 250ms ease-in-out;
            cursor: pointer;
        }
        
    }
}

.success-popup {
    position: relative;
}

  
@media (max-width: 600px) {
    .jump-to-start {
        display: none;
    }
}