.description-section {
    height: 100vh;
    display: flex;
    justify-content: space-between;
}

h2 {
    text-align: center;
    font-family: 'Syne';
    font-size: 78px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%;
    letter-spacing: 0.78px;
    margin: 0;
}


.description-section-content-right {
    display: flex;
    flex-direction: column;
}

.portrait {
    width: 553px;
}

.arrow {
    width: 280px;
}

.description-section-content-left {
    width: 620px;
}

.description-section-content-left-text {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 52px;

    p {
        font-family: 'Overpass';
        font-size: 23px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
    }
}