.description-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

h2 {
    text-align: center;
    font-family: 'Syne';
    font-size: 78px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%;
    letter-spacing: 0px;
    width: 100%;
    text-align: left;

    transform: translateX(-500px);
    // filter: blur(15px);
    transition: all 400ms ease-in;
    opacity: 0;
    
    &.show {
        transform: translateX(0);
        // filter: blur(0);
        opacity: 1;
    }
}

.description-section-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    justify-content: space-between;
}

.description-section-content-right {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 500px;
    height: 500px;
    transform: translateX(500px);
    // filter: blur(15px);
    transition: all 400ms ease-in;
    opacity: 0;
    
    &.show {
        transform: translateX(0);
        // filter: blur(0);
        opacity: 1;
    }

    &::before {
        content: "";
        position: absolute;
        border: 4px solid transparent;
        z-index: 1;
        transition: all 225ms ease-in-out;
        top: 20px;
        left: 20px;
        right: -20px;
        bottom: -20px;
    }

    &:hover::before {
        border: 4px solid black;
        top: 20px;
        left: 20px;
        right: -20px;
        bottom: -20px;
    }
}

.arrow-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

    img {
        padding-right: 150px;
    }
}

.description-section-content-left {
    max-width: 610px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transform: translateY(-100px);
    // filter: blur(15px);
    transition: all 400ms ease-in;
    
    &.show {
        opacity: 1;
        transform: translateY(0);
        // filter: blur(0);
    }

    button {
        width: 189px;
        height: 68px;
        border: 4px solid black;
        box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.15);
        font-family: 'Overpass';
        font-size: 23px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;

        &:hover {
            cursor: pointer;
            font-weight: 800;
            transform: scaleX(1.15);
            transition: transform ease-in-out 200ms;
        }
    }
}



.description-section-content-left-text {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    text-align: left;

    p {
        font-family: 'Overpass';
        font-size: 23px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
    }
}


// @media (max-width: 1400px) {
//     h2 {
//         font-size: 70px;
//     }
// }

// @media (max-width: 1200px) {
//     h2 {
//         font-size: 64px;
//     }
// }

// @media (max-width: 1050px) {
//     h2 {
//         font-size: 55px;
//     }
// }


// @media (max-width: 768px) {
//     h2 {
//         font-size: 45px;
//     }
// }

// @media (max-width: 576px) {
//     h2 {
//         font-size: 35px;
//     }
// }

// @media (max-width: 440px) {
//     h2 {
//         font-size: 25px;
//     }
// }