<div id="about" class="wrapper content">
    <h2>About me</h2>
    <div class="description-section-content">
        <div class="description-section-content-left">
            <div class="description-section-content-left-text">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque iste dolorem reprehenderit molestiae
                    vero, quis sit mollitia minima tempora? Asperiores perferendis omnis unde distinctio doloribus ab quae
                    nulla voluptatibus facilis? <br> nsdghdgfnbdg</p>
            </div>
            <button>Let's talk</button>
        </div>
        <div class="description-section-content-right">
            <img class="portrait" src="./assets/portrait.png">
        </div>
    </div>
    <div class="arrow-section">
        <img class="arrow" src="./assets/icons/arrowRight.png">
    </div>
   
</div>