.navigation-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navigation-list {
    display: flex;
    flex-direction: column;
    gap: 50px;

    span {
        position: relative;
        padding: 30px;

        &::before,
        &::after {
            content: "";
            position: absolute;
            height: 70px;
            width: 50px;
            left: 0;
            bottom: 0;
            border-bottom: 3px solid black;
            border-left: 3px solid black;
        }

        &:hover::before {
            animation: lowerBorder 0.15s forwards, expandBorder 0.4s forwards 0.1s;
            
        }

        &:hover::after {
            height: 0px;
            border-bottom: none;
        }
    }

    a {
        text-decoration: none;
        color: black;
        text-align: center;
        font-family: 'Syne';
        font-size: 96px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        letter-spacing: -2.4px;
    }

    @keyframes lowerBorder {
        0% {
            height: 50px;
            width: 50px;
            left: 0;
            bottom: 0;
            border-bottom: 3px solid black;
        }

        100% {
            height: 0px;
            left: 0;
            right: 0;
            bottom: 0;
            border-bottom: 3px solid black;
        }
    }

    @keyframes expandBorder {
        0% {
            width: 100%;
            height: 0px;
            left: auto;
            right: 0;
            bottom: 0;
            border-bottom: 3px solid black;
        }

        100% {
            width: 40%;
            height: 0px;
            left: auto;
            right: 0;
            bottom: 0;
            border-bottom: 5px solid black;
        }
    }
}