.skills-content-section {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 4px solid black;
}

h2 {
    text-align: center;
    font-family: 'Syne';
    font-size: 78px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%;
    letter-spacing: 0.78px;
    margin: 0;
    transform: translateY(-45px);
    background: #FFFCF3;
    padding-left: 10px;
    padding-right: 10px;
}

.skills-content-section-icons {
    display: inline-flex;
    padding: 115px 86px 160px 86px;
    justify-content: flex-end;
    align-items: center;
}

.skills-content-icons-section {
    display: flex;
    gap: 78px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 900px;
}

.skills-content-section-icon {
    display: flex;
    width: 100px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
   

    img {
        height: 75px;
    }

    span {
        text-align: center;
        font-family: 'Overpass';
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
    }
}

.arrow-section {
    width: 100%;

    img {
        transform: scaleX(-1);
    }
}