<div id="skills" class="wrapper">
    <div class="skills-content-section animate-section">
        <h2>My skills</h2>
        <div class="skills-content-section-icons">
            <div class="skills-content-icons-section">
                <div id="icon-{{i}}" *ngFor="let skill of skills; let i = index" class="skills-content-section-icon animate-icon">
                    <img class="icon " [src]="icons[i]">
                    <span>{{ skill }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="arrow-section">
        <img src="./assets/icons/arrowRight.png">
    </div>
</div>