.skills-content {
  padding-top: 100px;
}

.skills-content-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 4px solid black;
}

h2 {
    text-align: center;
    font-family: 'Syne';
    font-size: 78px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%;
    letter-spacing: 0.78px;
    margin: 0;
    margin-bottom: -45px;
    transform: translateY(-45px);
    background: #FFFCF3;
    padding-left: 10px;
    padding-right: 10px;

    &:hover {
        color:#00BC8F !important;
        transition: all 200ms ease-in-out;
    }
}

.skills-content-section-icons {
    display: inline-flex;
    padding: 100px 70px 115px 70px;
    justify-content: flex-end;
    align-items: center;
}

.skills-content-icons-section {
    display: flex;
    gap: 90px;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 900px;
}

.skills-content-section-icon {
    display: flex;
    width: 80px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    overflow: hidden;

    img {
        height: 75px;
    }

    span {
        text-align: center;
        font-family: 'Overpass';
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
    }

    &:hover {
        color:#00BC8F !important;
        transition: all 200ms ease-in-out;
    }

    &:hover img {
        animation: wiggle 1.2s;
    }
}

.arrow-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
    img {
        transform: scaleX(-1);
        padding-right: 40px;
    }
}

@keyframes wiggle {

    25% {
        transform: translateX(40%) scale(0.75);
    }

    50% {
        transform: translateX(-40%) scale(0.75);
    }

    75% {
        transform: scale(1);
    }

    100% {
        transform: translateX(0);
    }
}

.animate-section {
    opacity: 0;
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
}

.animate-section.show {
    opacity: 1;
}


.animate-icon {
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
  }
  
  .animate-icon:nth-child(1).show {
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0.1s; // Verzögerung für das erste Icon
  }
  
  .animate-icon:nth-child(6).show {
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0.1s; // Verzögerung für das zweite Icon
  }
  
  .animate-icon:nth-child(2).show {
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0.2s; // Verzögerung für das dritte Icon
  }
  
  .animate-icon:nth-child(7).show {
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0.2s; // Verzögerung für das erste Icon
  }
  
  .animate-icon:nth-child(3).show {
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0.3s; // Verzögerung für das zweite Icon
  }
  
  .animate-icon:nth-child(8).show {
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0.3s; // Verzögerung für das dritte Icon
  }
  .animate-icon:nth-child(4).show {
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0.4s; // Verzögerung für das erste Icon
  }
  
  .animate-icon:nth-child(9).show {
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0.4s; // Verzögerung für das zweite Icon
  }
  
  .animate-icon:nth-child(5).show {
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0.5s; // Verzögerung für das dritte Icon
  }
  
  .animate-icon:nth-child(10).show {
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0.5s; // Verzögerung für das dritte Icon
  }
  