<div id="skills" class="wrapper skills-content">
    <div class="skills-content-section animate-section">
        <h2>My skills</h2>
        <div class="skills-content-section-icons">
            <div class="skills-content-icons-section">
                <div id="icon-{{i}}" *ngFor="let skill of skills; let i = index"
                    class="skills-content-section-icon animate-icon"
                    [style.transitionDelay]="(((i % 5) + 1) * 0.1) + 's'">
                    <img class="icon" [src]="icons[i]" [alt]="skill">
                    <span>{{ skill }}</span>
                </div>

            </div>
        </div>
    </div>
    <div class="arrow-section">
        <img src="./assets/icons/arrowRight.png">
    </div>
</div>