.skills-content-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 4px solid black;
    margin-top: 20vh;
}

h2 {
    text-align: center;
    font-family: 'Syne';
    font-size: 78px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%;
    letter-spacing: 0.78px;
    margin: 0;
    margin-bottom: -45px;
    transform: translateY(-45px);
    background: #FFFCF3;
    padding-left: 10px;
    padding-right: 10px;

    &:hover {
        color:#00BC8F !important;
        transition: all 200ms ease-in-out;
    }
}

.skills-content-section-icons {
    display: inline-flex;
    padding: 115px 86px 115px 86px;
    justify-content: flex-end;
    align-items: center;
}

.skills-content-icons-section {
    display: flex;
    gap: 78px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 900px;
}

.skills-content-section-icon {
    display: flex;
    width: 80px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    overflow: hidden;

    img {
        height: 75px;
    }

    span {
        text-align: center;
        font-family: 'Overpass';
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
    }

    &:hover {
        color:#00BC8F !important;
        transition: all 200ms ease-in-out;
    }

    &:hover img {
        animation: wiggle 1.2s;
    }
}

.arrow-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    img {
        transform: scaleX(-1);
    }
}

@keyframes wiggle {

    25% {
        transform: translateX(40%) scale(0.75);
    }

    50% {
        transform: translateX(-40%) scale(0.75);
    }

    75% {
        transform: scale(1);
    }

    100% {
        transform: translateX(0);
    }
}