h1 {
    font-size: 128px;
    font-style: normal;
    font-weight: 800;
    font-family: 'Syne', sans-serif;
    line-height: 100%;
    letter-spacing: -3.2px;
    margin: 0;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -1.2px;
    color: #00BC8F;
    margin: 0;
    padding: 8px;
}

.welcome-message {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-message-caption {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.welcome-section-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 23px;
}

.welcome-section-email {
    transform: rotate(-90deg) translateY(-20px);
    // padding-top: 100px;
}

.welcome-section-scroll-down {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(25px);
    // padding-right: 60px;

}