<div class="wrapper welcome-content">
    <div class="welcome-message">
        <h1>Frontend Developer</h1>
        <div class="welcome-message-caption">
            <img class ="underline" src="./assets/icons/underlineWelcome.png">
            <h2>Philipp Klinger</h2>
        </div>
    </div>
    <div class="welcome-section-bottom">
        <span class="welcome-section-email">hello@philipp-klinger.com</span>
        <div class="welcome-section-scroll-down">
            <img src="./assets/icons/scrollDown.png">
            <span>Scroll <br> Down</span>
        </div>
    </div>
</div>