.imprint-section {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.imprint-section-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    img {
        width: 40px;

        &:hover {
            transform: scale(1.5);
            transition: all 250ms ease-in;
        }
    }

   
}

h1 {
    text-align: left;
    font-family: 'Syne';
    font-size: 78px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%;
    letter-spacing: 0.78px;
}

h2 {
    text-align: left;
    font-family: 'Syne';
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
}

h3 {
    text-align: left;
    font-family: 'Syne';
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
}

h4 {
    text-align: left;
    font-family: 'Syne';
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
}

p {
    color: black;
    font-family: 'Overpass';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}