body {
    margin: 0;
    background-color: #FFFCF3;
    overflow-x: hidden;
    font-family: 'Overpass';
}

.wrapper {
    max-width: 1400px;
    width: 100%;
    margin: auto;
}

.content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

html {
    scroll-behavior: smooth;
}