body {
    margin: 0;
    background-color: #FFFCF3;
    overflow-x: hidden;
    font-family: 'Overpass';
}

.wrapper {
    width: min(1400px, 85%);
    margin: auto;
}

html {
    scroll-behavior: smooth;
}