body {
    margin: 0;
    background-color: #FFFCF3;
    overflow-x: hidden;
    font-family: 'Overpass';
}

.wrapper {
    width: min(1400px, 85%);
    margin: auto;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #00BC8F;
}