<div class="portfolio-section-project">
    <div class="portfolio-section-project-left">
        <img src="./assets/projects/mayavaliente.png">
    </div>
    <div class="portfolio-section-project-right">
        <div class="portfolio-section-project-right-head">
            <span>01/05</span>
        </div>
        <div class="portfolio-section-project-right-text">
            <h2>Join</h2>
            <span>Agular | TypeScript | HTML | CSS </span>
            <p>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions,
                assign users and categories</p>
            <div class="portfolio-section-project-right-buttons">
                <button>Github</button>
                <button>Live</button>
            </div>
        </div>
    </div>
</div>