.portfolio-section {
    display: flex;
    flex-direction: column;
}

.portfolio-section-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 114px;

    h2 {
        text-align: center;
        font-family: 'Syne';
        font-size: 78px;
        font-style: normal;
        font-weight: 800;
        line-height: 100%;
        letter-spacing: 0.78px;
        margin: 0;
    }

    span {
        font-family: 'Overpass';
        font-size: 23px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        margin-top: 35px;
    }
}

.portfolio-section-projectslist {
    width: 100%;
}

.arrow-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
