.portfolio-section {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.portfolio-section-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 114px;
    opacity: 0;
    transform: translateY(-100px);
    transition: all 400ms ease-in;
    
    &.show {
        opacity: 1;
        transform: translateY(0);
    }

    h2 {
        text-align: center;
        font-family: 'Syne';
        font-size: clamp(22px, 5vw, 78px);
        font-style: normal;
        font-weight: 800;
        line-height: 100%;
        letter-spacing: 0.78px;
        margin: 0;
    }

    span {
        font-family: 'Overpass';
        font-size: clamp(16px, 2vw, 23px);
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        margin-top: 35px;
    }
}

.arrow {
    height: clamp(120px, 18vw, 200px)
}

@media (max-width: 600px) {
    .portfolio-section-head {
        span {
            text-align: center;
        }
    }
}

.portfolio-section-projectslist {
    width: 100%;
}

.arrow-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    img {
        padding-right: 40px;
    }
}
