<div id="portfolio" class="wrapper portfolio-section">
    <div class="portfolio-section-head">
        <h2>Portfolio</h2>
        <span>This page is a sample of my work - please feel free to try them out.</span>
    </div>
    <div class="portfolio-section-projectslist">
        <app-project *ngFor="let project of projects, let i = index" [project]="project">
        </app-project>
    </div>
    <div class="arrow-section">
        <img class="arrow" src="./assets/icons/arrowRight.png">
    </div>
</div>