.portfolio-section-project {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    position: relative;
    padding-bottom: 50px;
    padding-top: 50px;

    &:hover .portfolio-section-project-right-text {
        animation: slide-in 1s forwards;
        transition: all 200ms ease-in-out;
    }

    &:hover .arrow-flip {
        animation: rotate-arrow 1s forwards;
        animation-delay: 100ms;
        transition: all 200ms ease-in-out;
    }

    &:hover .portfolio-section-project-left::before {
        opacity: 1;
        border: 4px solid black;
        top: 25px;
        left: 25px;
        right: -25px;
        bottom: -25px;
    }

    &:hover .portfolio-section-project-left {
        filter: none;
    }
}

.portfolio-section-project-reverse {
    flex-direction: row-reverse !important;
    

    &:hover .portfolio-section-project-right-text-reverse {
        animation: slide-in-reverse 1s forwards;
        transition: all 200ms ease-in-out;
    }

    &:hover .arrow-flip-reverse {
        animation: rotate-arrow-reverse 1s forwards;
        animation-delay: 100ms;
        transition: all 200ms ease-in-out;
    }

    &:hover .portfolio-section-project-left-reverse::before {
        opacity: 1;
        border: 4px solid black;
        top: 25px;
        left: -25px;
        right: 25px;
        bottom: -25px;
    }

    &:hover .portfolio-section-project-left-reverse {
        filter: none;
    }
}

.portfolio-section-project-left {
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 225ms ease-in-out;
    border: 4px solid transparent;
    filter: grayscale(100%);

    &::before {
        content: "";
        position: absolute;
        border: 4px solid transparent;
        opacity: 0;
        z-index: 1;
        transition: all 225ms ease-in-out;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.portfolio-section-project-left-reverse {
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 225ms ease-in-out;
    border: 4px solid transparent;
    filter: grayscale(100%);

    &::before {
        content: "";
        position: absolute;
        border: 4px solid transparent;
        opacity: 0;
        z-index: 1;
        transition: all 225ms ease-in-out;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}


.project-screen {
    max-width: 620px;
}

.arrow-flip {
    position: absolute;
    right: -61px;
    transform: scale(0.7) rotate(135deg);
    opacity: 0;
    z-index: 2;
}

.arrow-flip-reverse {
    position: absolute;
    left: -61px;
    transform: scale(0.7) rotate(135deg);
    opacity: 0;
    z-index: 2;
}


.portfolio-section-project-right-head {
    text-align: right;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: 'Syne';
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.portfolio-section-project-right-head-reverse {
    text-align: left;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: 'Syne';
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.portfolio-section-project-right-text {
    max-width: 480px;
    transform: translateX(-150%);
    opacity: 0;

    h2 {
        font-family: 'Syne';
        font-size: 45px;
        font-style: normal;
        font-weight: 800;
        line-height: 100%;
    }

    span {
        color: #00BC8F;
        font-family: 'Overpass';
        font-size: 23px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
    }

    p {
        font-family: 'Overpass';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%
    }
}

.portfolio-section-project-right-text-reverse {
    max-width: 480px;
    transform: translateX(150%);
    opacity: 0;

    h2 {
        font-family: 'Syne';
        font-size: 45px;
        font-style: normal;
        font-weight: 800;
        line-height: 100%;
    }

    span {
        color: #00BC8F;
        font-family: 'Overpass';
        font-size: 23px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
    }

    p {
        font-family: 'Overpass';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%
    }
}

.portfolio-section-project-right-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    button {
        width: 189px;
        height: 68px;
        border: 4px solid black;
        box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.15);
        font-family: 'Overpass';
        font-size: 23px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;

        &:hover {
            cursor: pointer;
            font-weight: 800;
            transform-origin: left center;
            transform: scaleX(1.15);
            transition: all ease-in-out 200ms;
        }
    }
}

@keyframes slide-in {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-reverse {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes rotate-arrow {
    0% {
        transform: scale(0.7) rotate(135deg);
        opacity: 0;
    }

    100% {
        transform: scale(1) rotate(0deg);
        opacity: 1;
    }
}

@keyframes rotate-arrow-reverse {
    0% {
        transform: scale(0.7) rotate(135deg);
        opacity: 0;
    }

    100% {
        transform: scale(1) rotate(270deg);
        opacity: 1;
    }
}