.portfolio-section-project {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    position: relative;
    padding-bottom: 50px;
    padding-top: 50px;
    gap: 6vw;

    &:hover .portfolio-section-project-right-text {
        animation: slide-in 1s forwards;
        transition: all 200ms ease-in-out;
    }

    &:hover .arrow-flip {
        animation: rotate-arrow 1s forwards;
        animation-delay: 100ms;
        transition: all 200ms ease-in-out;
    }

    &:hover .portfolio-section-project-left::before {
        opacity: 1;
        border: 4px solid black;
        top: 25px;
        left: 25px;
        right: -25px;
        bottom: -25px;
    }

    &:hover .portfolio-section-project-left {
        filter: none;
    }
}

@media (max-width: 1000px) {
    .portfolio-section-project {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        position: relative;
        padding-bottom: 50px;
        padding-top: 50px;

        .portfolio-section-project-right-text {
            animation: slide-in 1s forwards !important;
            transition: all 200ms ease-in-out;
            min-width: 480px;
        }

        .portfolio-section-project-left::before {
            display: none;
        }

        .arrow-flip {
            display: none;
        }
    }

    .portfolio-section-project-right-head {
        display: none;
    }

    .portfolio-section-head-mobile {
        display: flex !important;
    }

    .portfolio-section-project-left {
        filter: none !important;
    }
}

.portfolio-section-head-mobile {
    font-variant-numeric: lining-nums proportional-nums;
    font-family: "Syne";
    font-size: clamp(32px, 3vw, 45px);
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    width: 100%;
    display: none;
    flex-direction: row;
    justify-content: flex-start;
}

.project-1 {
    opacity: 0;
    transform: translateY(100px);
    // filter: blur(15px);
    transition: all 400ms ease-in;

    &.show {
        opacity: 1;
        transform: translateY(0);
        // filter: blur(0);
    }
}

.project-2 {
    opacity: 0;
    transform: translateY(100px);
    // filter: blur(15px);
    transition: all 400ms ease-in;

    &.show {
        opacity: 1;
        transform: translateY(0);
        // filter: blur(0);
    }
}

.project-3 {
    opacity: 0;
    transform: translateY(100px);
    // filter: blur(15px);
    transition: all 400ms ease-in;

    &.show {
        opacity: 1;
        transform: translateY(0);
        // filter: blur(0);
    }
}

.project-4 {
    opacity: 0;
    transform: translateY(100px);
    // filter: blur(15px);
    transition: all 400ms ease-in;

    &.show {
        opacity: 1;
        transform: translateY(0);
        // filter: blur(0);
    }
}

.portfolio-section-project-reverse {
    flex-direction: row-reverse !important;


    &:hover .portfolio-section-project-right-text-reverse {
        animation: slide-in-reverse 1s forwards;
        transition: all 200ms ease-in-out;
    }

    &:hover .arrow-flip-reverse {
        animation: rotate-arrow-reverse 1s forwards;
        animation-delay: 100ms;
        transition: all 200ms ease-in-out;
    }

    &:hover .portfolio-section-project-left-reverse::before {
        opacity: 1;
        border: 4px solid black;
        top: 25px;
        left: -25px;
        right: 25px;
        bottom: -25px;
    }

    &:hover .portfolio-section-project-left-reverse {
        filter: none;
    }
}

@media (max-width: 1000px) {
    .portfolio-section-project-reverse {
        display: flex;
        flex-direction: column !important;
        align-items: center;
        width: 100%;
        position: relative;
        padding-bottom: 50px;
        padding-top: 50px;

        .portfolio-section-project-right-text-reverse {
            animation: slide-in-reverse 1s forwards !important;
            transition: all 200ms ease-in-out;
            min-width: 480px;
        }
    }

    .portfolio-section-project-right-head {
        display: none;
    }

    .portfolio-section-head-mobile-reverse {
        display: flex !important;
    }
}

@media (max-width: 600px) {
    .portfolio-section-project-right-text {
        min-width: 200px !important;
        max-width: 300px !important;
    }

    .portfolio-section-project-right-text-reverse {
        min-width: 200px !important;
        max-width: 300px !important;
    }
}

.portfolio-section-head-mobile-reverse {
    font-variant-numeric: lining-nums proportional-nums;
    font-family: "Syne";
    font-size: clamp(32px, 3vw, 45px);
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    width: 100%;
    display: none;
    flex-direction: row;
    justify-content: flex-end;
}

.portfolio-section-project-left {
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 225ms ease-in-out;
    border: 4px solid transparent;
    filter: grayscale(100%);
    width: min(620px, 85%);

    &::before {
        content: "";
        position: absolute;
        border: 4px solid transparent;
        opacity: 0;
        z-index: 1;
        transition: all 225ms ease-in-out;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.portfolio-section-project-left-reverse {
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 225ms ease-in-out;
    border: 4px solid transparent;
    filter: grayscale(100%);
    width: min(620px, 85%);

    &::before {
        content: "";
        position: absolute;
        border: 4px solid transparent;
        opacity: 0;
        z-index: 1;
        transition: all 225ms ease-in-out;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.project-screen {
    width: 100%;
}

.arrow-flip {
    position: absolute;
    right: -61px;
    transform: scale(0.7) rotate(135deg);
    opacity: 0;
    z-index: 2;
}

.arrow-flip-reverse {
    position: absolute;
    left: -61px;
    transform: scale(0.7) rotate(135deg);
    opacity: 0;
    z-index: 2;
}


.portfolio-section-project-right-head {
    text-align: right;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: 'Syne';
    font-size: clamp(32px, 3vw, 45px);
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.portfolio-section-project-right-head-reverse {
    text-align: left;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: 'Syne';
    font-size: clamp(32px, 3vw, 45px);
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.portfolio-section-project-right-text {
    max-width: 480px;
    transform: translateX(-150%);
    opacity: 0;

    h2 {
        font-family: 'Syne';
        font-size: clamp(22px, 2vw, 45px);
        font-style: normal;
        font-weight: 800;
        line-height: 100%;
    }

    span {
        color: #00BC8F;
        font-family: 'Overpass';
        font-size: clamp(16px, 2vw, 23px);
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
    }

    p {
        font-family: 'Overpass';
        font-size: clamp(12px, 2vw, 16px);
        font-style: normal;
        font-weight: 400;
        line-height: 120%
    }
}

.portfolio-section-project-right-text-reverse {
    max-width: 480px;
    transform: translateX(150%);
    opacity: 0;

    h2 {
        font-family: 'Syne';
        font-size: clamp(22px, 2vw, 45px);
        font-style: normal;
        font-weight: 800;
        line-height: 100%;
    }

    span {
        color: #00BC8F;
        font-family: 'Overpass';
        font-size: clamp(16px, 2vw, 23px);
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
    }

    p {
        font-family: 'Overpass';
        font-size: clamp(12px, 2vw, 16px);
        font-style: normal;
        font-weight: 400;
        line-height: 120%
    }
}

.portfolio-section-project-right-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    button {
        width: clamp(110px, 15vw, 185px);
        height: clamp(40px, 5vw, 68px);
        border: 4px solid black;
        box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.15);
        font-family: 'Overpass';
        font-size: clamp(16px, 2vw, 23px);
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        background: #fffcf3;

        &:hover {
            cursor: pointer;
            font-weight: 800;
            transform-origin: left center;
            transform: scaleX(1.15);
            transition: all ease-in-out 200ms;
        }
    }
}

@media (max-width:1000px) {
    .portfolio-section-project-right-buttons {
        button {
            width: clamp(110px, 20vw, 185px);
            height: clamp(40px, 6vw, 68px);
        }
    }
}

@keyframes slide-in {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-reverse {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes rotate-arrow {
    0% {
        transform: scale(0.7) rotate(135deg);
        opacity: 0;
    }

    100% {
        transform: scale(1) rotate(0deg);
        opacity: 1;
    }
}

@keyframes rotate-arrow-reverse {
    0% {
        transform: scale(0.7) rotate(135deg);
        opacity: 0;
    }

    100% {
        transform: scale(1) rotate(270deg);
        opacity: 1;
    }
}